In [1]:
import pandas as pd

In [53]:
df = pd.read_csv('horse_data.csv',na_values='?')

In [46]:
COLUMNS = [
    'surgery',                      #1
    'age',                          #2
    'hospital_number',              #3
    'rectal_temp',                  #4
    'pulse',                        #5
    'respiratory_rate',             #6
    'temperature_extremities',      #7
    'peripheral_pulse',             #8
    'mucous_membranes',             #9
    'capillary_refill',             #10
    'pain',                         #11
    'peristalsis',                  #12
    'abdominal_distension',         #13
    'nasogastric_tube',             #14
    'nasogastric_reflux',
    'nasogastric_reflux_PH',
    'rectal_examination',
    'abdomen',
    'packed_cell_volume',
    'total_protein',
    'abdominocentesis_appearance',
    'abdomcentesis_total_protein',
    'outcome',
    'surgical_lesion',
    '1type_of_lesion',
    '2type_of_lesion',
    '3type_of_lesion',
    'cp_data'
]

In [54]:
df.columns=COLUMNS
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery                      298 non-null    float64
 1   age                          299 non-null    int64
 2   hospital_number              299 non-null    int64
 3   rectal_temp                  239 non-null    float64
 4   pulse                        275 non-null    float64
 5   respiratory_rate             241 non-null    float64
 6   temperature_extremities      243 non-null    float64
 7   peripheral_pulse             230 non-null    float64
 8   mucous_membranes             253 non-null    float64
 9   capillary_refill             267 non-null    float64
 10  pain                         244 non-null    float64
 11  peristalsis                  255 non-null    float64
 12  abdominal_distension         243 non-null    float64
 13  nasogastric_tube             196 non-null    float64
 14  nasogastric_reflux           194 non-null    float64
 15  nasogastric_reflux_PH        53 non-null     float64
 16  rectal_examination           197 non-null    float64
 17  abdomen                      181 non-null    float64
 18  packed_cell_volume           270 non-null    float64
 19  total_protein                266 non-null    float64
 20  abdominocentesis_appearance  135 non-null    float64
 21  abdomcentesis_total_protein  102 non-null    float64
 22  outcome                      298 non-null    float64
 23  surgical_lesion              299 non-null    int64
 24  1type_of_lesion              299 non-null    int64
 25  2type_of_lesion              299 non-null    int64
 26  3type_of_lesion              299 non-null    int64
 27  cp_data                      299 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.5 KB

In [55]:
df.describe()

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temperature_extremities,peripheral_pulse,mucous_membranes,capillary_refill,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,1type_of_lesion,2type_of_lesion,3type_of_lesion,cp_data
count,298.000000,299.00000,2.990000e+02,239.000000,275.000000,241.000000,243.000000,230.000000,253.000000,267.000000,...,270.000000,266.000000,135.000000,102.000000,298.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,1.395973,1.64214,1.087748e+06,38.166527,71.934545,30.427386,2.345679,2.013043,2.853755,1.303371,...,46.300000,24.517293,2.037037,3.019608,1.550336,1.361204,3632.321070,90.528428,7.387960,1.668896
std,0.489881,2.17730,1.532026e+06,0.733508,28.680522,17.678256,1.046369,1.042672,1.620294,0.476623,...,10.438384,27.509056,0.804905,1.968567,0.737967,0.481155,5390.356722,650.637139,127.749768,0.471399
min,1.000000,1.00000,5.184760e+05,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000,1.000000,...,23.000000,3.300000,1.000000,0.100000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,1.00000,5.289040e+05,37.800000,48.000000,18.000000,1.000000,1.000000,1.000000,1.000000,...,38.000000,6.500000,1.000000,2.000000,1.000000,1.000000,2111.500000,0.000000,0.000000,1.000000
50%,1.000000,1.00000,5.303100e+05,38.200000,64.000000,24.000000,3.000000,1.500000,3.000000,1.000000,...,45.000000,7.500000,2.000000,2.250000,1.000000,1.000000,2322.000000,0.000000,0.000000,2.000000
75%,2.000000,1.00000,5.347360e+05,38.500000,88.000000,36.000000,3.000000,3.000000,4.000000,2.000000,...,52.000000,57.000000,3.000000,3.900000,2.000000,2.000000,3209.000000,0.000000,0.000000,2.000000
max,2.000000,9.00000,5.305629e+06,40.800000,184.000000,96.000000,4.000000,4.000000,6.000000,3.000000,...,75.000000,89.000000,3.000000,10.100000,3.000000,2.000000,41110.000000,7111.000000,2209.000000,2.000000

In [61]:
#Выбираем  столбцы
my8 = df[['surgery','hospital_number','age','rectal_temp','pulse','abdominal_distension','respiratory_rate','pain','outcome',]]

Описание столбцов
surgery - 
была операция 
1 = Да 
2 = Выздровела без операции

hospital_number - Номер "дела" присвоеный лошади (не может быть уникальным если лошадь лечилась больше однго раза

age - возвраст лошади 1 = Взрослая лошадь 2 = молодая ( 6 < месяцев)

rectal_temp - ректальная температура, норма 37.8,
* Повышенная температура может возникнуть из-за инфекции.
* температура может быть снижена, когда животное находится в позднем шоке
* этот параметр обычно меняется по мере развития проблемы
например, может начаться нормально, а затем стать повышенным из-
за поражения, проходя обратно через нормальный диапазон, когда
лошадь впадает в шок

pulse - частота сердечных сокращений в ударах в минуту, норма 30-40
* очень редко может быть низкий пульс(исключения спортивные лошади)
* животные с болезненными поражениями или страдающие от кровеносного шока
могут иметь повышенную частоту сердечных сокращений

abdominal_distension - вздутие живота
 ВАЖНЫЙ параметр.
          - возможные значения
               1 = нет
               2 = легкий
               3 = умеренный
               4 = тяжелая
          - животное с вздутием живота может причинить боль и
            имеют сниженную перистальтику кишечника.
          - лошади с сильным вздутием живота, вероятно, потребуются
            операция просто сними давление

respiratory_rate - частота дыхания, норма 8-10,
* полезность сомнительна из-за больших колебаний

pain - боль, чем больнее тем больше вероятность что нужна хирургия
1 = бдительность, отсутствие боли
2 = депрессия
3 = прерывистая легкая боль
4 = прерывистая сильная боль
5 = непрерывная сильная боль

outcome - Что случилось с лошадью
1 = жил
2 = умер
3 = был усыплен

#### Далее смотрим столбцы по отдельности

In [7]:
#Surgery -  по данным видим что наибольшее число лошадей выздровело после операции
my8.surgery.value_counts()

1.0    180
2.0    118
Name: surgery, dtype: int64

In [34]:
#hospital_number -  поскольку у нас номера не уникальны, здесь смотрим кол-во случаев
my8.hospital_number.count()

299

In [37]:
#age - наибольшее число лошадей молодые
my8.age.value_counts()

1    275
9     24
Name: age, dtype: int64

In [41]:
#rectal_temp - ректальная температура, норма 37.8,
#* Повышенная температура может возникнуть из-за инфекции.
#* температура может быть снижена, когда животное находится в позднем шоке
#* этот параметр обычно меняется по мере развития проблемы
#например, может начаться нормально, а затем стать повышенным из-
#за поражения, проходя обратно через нормальный диапазон, когда
#лошадь впадает в шок
my8.rectal_temp.describe()

count    239.000000
mean      38.166527
std        0.733508
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal_temp, dtype: float64

In [43]:
#pulse - базовые метрики
my8.pulse.describe()

count    275.000000
mean      71.934545
std       28.680522
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [54]:
#abdominal_distension -  вздутие живота
#значения
#               1 = нет
#               2 = легкий
#               3 = умеренный
#               4 = тяжелая
my8.abdominal_distension.value_counts().reset_index()

   index  abdominal_distension
0    1.0                    76
1    3.0                    65
2    2.0                    65
3    4.0                    37

In [63]:
#respiratory_rate - частота дыхания, норма 8-10, базовые метрики 
my8.respiratory_rate.describe()

count    241.000000
mean      30.427386
std       17.678256
min        8.000000
25%       18.000000
50%       24.000000
75%       36.000000
max       96.000000
Name: respiratory_rate, dtype: float64

In [59]:
#pain - боль
#1 = бдительность, отсутствие боли
#2 = депрессия
#3 = прерывистая легкая боль
#4 = прерывистая сильная боль
#5 = непрерывная сильная боль
my8.pain.value_counts()

3.0    67
2.0    59
5.0    41
4.0    39
1.0    38
Name: pain, dtype: int64

In [60]:
#outcome - Что случилось с лошадью
#1 = жил
#2 = умер
#3 = был усыплен
my8.outcome.value_counts()

1.0    178
2.0     76
3.0     44
Name: outcome, dtype: int64

In [15]:
my8.describe()

,surgery,hospital_number,age,rectal_temp,pulse,abdominal_distension,respiratory_rate,pain,outcome
count,298.000000,2.990000e+02,299.00000,239.000000,275.000000,243.000000,241.000000,244.000000,298.000000
mean,1.395973,1.087748e+06,1.64214,38.166527,71.934545,2.259259,30.427386,2.942623,1.550336
std,0.489881,1.532026e+06,2.17730,0.733508,28.680522,1.061472,17.678256,1.303993,0.737967
min,1.000000,5.184760e+05,1.00000,35.400000,30.000000,1.000000,8.000000,1.000000,1.000000
25%,1.000000,5.289040e+05,1.00000,37.800000,48.000000,1.000000,18.000000,2.000000,1.000000
50%,1.000000,5.303100e+05,1.00000,38.200000,64.000000,2.000000,24.000000,3.000000,1.000000
75%,2.000000,5.347360e+05,1.00000,38.500000,88.000000,3.000000,36.000000,4.000000,2.000000
max,2.000000,5.305629e+06,9.00000,40.800000,184.000000,4.000000,96.000000,5.000000,3.000000

#### Работаем с выбросами

In [9]:
my8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               298 non-null    float64
 1   hospital_number       299 non-null    int64
 2   age                   299 non-null    int64
 3   rectal_temp           239 non-null    float64
 4   pulse                 275 non-null    float64
 5   abdominal_distension  243 non-null    float64
 6   respiratory_rate      241 non-null    float64
 7   pain                  244 non-null    float64
 8   outcome               298 non-null    float64
dtypes: float64(7), int64(2)
memory usage: 21.1 KB

In [35]:
q1 = my8['rectal_temp'].quantile(0.25)
q3 = my8['rectal_temp'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = my8[my8['rectal_temp'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([my8, remove_outliers]).drop_duplicates(keep=False).dropna()

,surgery,hospital_number,age,rectal_temp,pulse,abdominal_distension,respiratory_rate,pain,outcome
19,1.0,530157,1,39.9,72.0,4.0,60.0,5.0,1.0
53,2.0,529461,1,40.3,114.0,3.0,36.0,2.0,3.0
79,1.0,527518,1,36.4,98.0,2.0,35.0,4.0,2.0
90,2.0,529461,1,40.3,114.0,3.0,36.0,2.0,2.0
98,2.0,530002,1,39.6,108.0,3.0,51.0,2.0,1.0
117,1.0,533983,1,36.5,78.0,1.0,30.0,5.0,1.0
250,2.0,527940,1,36.6,42.0,1.0,18.0,1.0,2.0
258,1.0,527734,1,40.8,72.0,1.0,42.0,2.0,2.0
297,1.0,530612,1,36.5,100.0,3.0,24.0,3.0,1.0

In [82]:
q1 = my8['respiratory_rate'].quantile(0.25)
q3 = my8['respiratory_rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = my8[my8['respiratory_rate'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([my8, remove_outliers]).drop_duplicates(keep=False).dropna()

,surgery,hospital_number,age,rectal_temp,pulse,abdominal_distension,respiratory_rate,pain,outcome
2,1.0,5290409,9,39.1,164.0,4.0,84.0,2.0,2.0
81,1.0,5290759,9,38.1,100.0,1.0,80.0,3.0,1.0
83,1.0,529849,1,37.8,60.0,3.0,80.0,2.0,1.0
102,1.0,5292489,9,38.0,140.0,2.0,68.0,3.0,1.0
119,1.0,528682,1,39.4,54.0,2.0,66.0,2.0,1.0
124,1.0,528461,1,38.0,42.0,2.0,68.0,3.0,1.0
243,1.0,5291409,9,38.2,124.0,4.0,88.0,2.0,1.0
254,1.0,5294539,9,38.8,184.0,3.0,84.0,4.0,2.0
264,2.0,528590,1,38.2,56.0,1.0,68.0,3.0,3.0

In [ ]:
q1 = my8['pulse'].quantile(0.25)
q3 = my8['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = my8[my8['pulse'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([my8, remove_outliers]).drop_duplicates(keep=False).dropna()

#### Работа с пропусками

In [58]:
my8.info()
#Смотрим типы столбцов.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               298 non-null    float64
 1   hospital_number       299 non-null    int64
 2   age                   299 non-null    int64
 3   rectal_temp           239 non-null    float64
 4   pulse                 275 non-null    float64
 5   abdominal_distension  243 non-null    float64
 6   respiratory_rate      241 non-null    float64
 7   pain                  244 non-null    float64
 8   outcome               298 non-null    float64
dtypes: float64(7), int64(2)
memory usage: 21.1 KB

In [65]:
#заменим температуру на медиану
my8_nona = my8

In [63]:
my8_nona['rectal_temp'].fillna(my8_nona['rectal_temp'].median(), inplace=True)

C:\Users\makhr\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [ ]:
#заменим pulse на среднюю

In [75]:
my8_nona['pulse'].fillna(my8_nona['pulse'].median(), inplace=True)

C:\Users\makhr\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [74]:
#заполняем abdominal_distension тройками

In [84]:
my8_nona['abdominal_distension'].fillna(3, inplace=True)

C:\Users\makhr\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [ ]:
#заполняем pain тройками

In [88]:
my8_nona['pain'].fillna(2, inplace=True)

C:\Users\makhr\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [ ]:
#заполняем surgery двойками

In [90]:
my8_nona['surgery'].fillna(2, inplace=True)

In [ ]:
#заполняем respiratory_rate средней

In [92]:
my8_nona['respiratory_rate'].fillna(my8_nona['respiratory_rate'].mean(), inplace=True)

In [ ]:
#заполняем respiratory_rate средней

In [94]:
my8_nona['outcome'].fillna(2, inplace=True)

In [95]:
my8_nona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               299 non-null    float64
 1   hospital_number       299 non-null    int64
 2   age                   299 non-null    int64
 3   rectal_temp           299 non-null    float64
 4   pulse                 299 non-null    float64
 5   abdominal_distension  299 non-null    float64
 6   respiratory_rate      299 non-null    float64
 7   pain                  299 non-null    float64
 8   outcome               299 non-null    float64
dtypes: float64(7), int64(2)
memory usage: 21.1 KB

#### Новые типы столбков

In [98]:
#присваиваем новые типы для столбцов
my8_nona.astype({
    'surgery': 'category',
    'hospital_number': 'int64',
    'age': 'int64',
    'rectal_temp': 'float',
    'pulse': 'int64',
    'abdominal_distension': 'category',
    'respiratory_rate': 'int64',    
    'pain': 'category',
    'outcome': 'category'
}
)

,surgery,hospital_number,age,rectal_temp,pulse,abdominal_distension,respiratory_rate,pain,outcome
0,1.0,534817,1,39.2,88,2.0,20,3.0,3.0
1,2.0,530334,1,38.3,40,1.0,24,3.0,1.0
2,1.0,5290409,9,39.1,164,4.0,84,2.0,2.0
3,2.0,530255,1,37.3,104,3.0,35,2.0,2.0
4,2.0,528355,1,38.2,64,2.0,30,2.0,1.0
...,...,...,...,...,...,...,...,...,...
294,1.0,533886,1,38.2,120,3.0,70,2.0,3.0
295,2.0,527702,1,37.2,72,3.0,24,4.0,3.0
296,1.0,529386,1,37.5,72,3.0,30,4.0,2.0
297,1.0,530612,1,36.5,100,3.0,24,3.0,1.0
298,1.0,534618,1,37.2,40,3.0,20,2.0,3.0