In [3]:
import pandas as pd

#### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [69]:
df = pd.read_csv('pandas/ratings.csv')

In [116]:
res = df['movieId'].value_counts().head(5)
filtr = df[(df['movieId'] == res.index[0] ) & (df['rating'] == 5.0)]
filtr

          userId  movieId  rating   timestamp
1350           8      356     5.0   890489591
1482           9      356     5.0   859383448
2474          13      356     5.0  1238029795
2898          15      356     5.0   946014478
3666          20      356     5.0  1155084844
...          ...      ...     ...         ...
24997476  162524      356     5.0  1072919335
24997839  162528      356     5.0   929127127
24998007  162529      356     5.0   888183534
24999530  162537      356     5.0  1047170962
24999780  162539      356     5.0   995150704

[25918 rows x 4 columns]

#### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [14]:
dp = pd.read_csv('pandas\power.csv')
dp.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [25]:
countries = (dp['country'] == 'Latvia') | (dp['country'] == 'Lithuania')|(dp['country'] == 'Estonia')
category = (dp['category'] == 4) | (dp['category'] == 12) | (dp['category'] == 21)
period = (dp['year'] > 2005) | (dp['year'] < 2010)
quant = (dp['quantity'] >= 0)

In [23]:
result = dp[countries & category & period & quant]
sum(result['quantity'])

970728.0

#### Задание 3

In [28]:
sd = pd.read_html('https://fortrader.org/quotes')
sd = sd[0]
sd

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  88.33       0.12          0.14        NaN
1       USDRUB Курс рубля к доллару  74.14       0.51          0.70        NaN